body {
  font-family: 'Space Mono', monospace, sans-serif;
  color: #333;
  font-weight: 400;
  line-height: 1.6; }

.heading-primary {
  font-size: 6rem;
  line-height: 1.4; }

.paragraph {
  font-size: 2.4rem;
  color: #4f4f4f;
  line-height: 1.4; }

.u-margin-bottom-small {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

.header {
  padding: 2rem 0 0 6rem;
  font-family: "Inconsolata", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -.2rem; }

.wrapper {
  max-width: 120rem;
  padding: 7rem 0;
  margin: 0 auto;
  display: flex; }

.img-box {
  width: 50%;
  margin-right: 5rem; }

.img-scarecrow {
  width: 100%;
  height: auto; }

.detail-box {
  padding: 0 2rem;
  width: 50%; }

.btn:link,
.btn:visited {
  font-size: 1.6rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block; }

.btn:link::before,
.btn:visited::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eee;
  display: inline-block; }

.btn--black:link,
.btn--black:visited {
  background-color: #333; }
