//BUTTON

.btn:link,
.btn:visited {
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.btn:link::after,
.btn:visited::after {
    content: "";
    position: absolute;
    left: 0;
    top:0;
    width: 20%;
    height: 10rem;
}

.btn--black:link,
.btn--black:visited {
    background-color: $color-gray-1;
}