//BUTTON

.btn:link,
.btn:visited {
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    border: none;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all .3s;
}

.btn:link::after,
.btn:visited::after {
    content: "";
    position: absolute;
    left: -7.5rem;
    top:-50%;
    width: 20%;
    height: 15rem;
    background-color: rgba(255,255,255,0.5);
    transform: rotate(30deg);
    display: inline-block;
    z-index: 10;
    transition: left .3s cubic-bezier(.54,0,.44,1);
}

.btn--black:link,
.btn--black:visited {
    background-color: $color-gray-1;
}

.btn:hover {
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.3);
}

.btn:active {
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    transform: translateY(2px);
}

.btn:hover::after {
    left: 25rem;
}
